* {
  margin: 0;
}

h1 {
    margin-top: 4vw;
    margin-left: 5vw;
    font-size: 3rem;
}

.selector .inner {
  margin: 2em;
}

.box {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #94e3ff;
  margin: 10px 0px;
}

p {
  margin-top: 1em;
    font-size: 2rem;
}

.selector{
    font-size: 2rem;

}
